
@font-face {
    font-family: "Roboto" ;
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto";
    margin: 0;
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
    max-width: 800px;
}

h2 {
    font-size: 28px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.2rem;
}

.ligne {
    padding: 2rem;
}

ul {
    padding-left: 0;
}

/* DEBUT HEADER */

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.main-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* DEBUT MAIN */

/*HERO*/

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/hero\ banner.jpg);
    background-size: cover;
    height: 40vh;    
}

.btn-primary {
    background-color: #FF4676;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    border: solid 1px #FF4676;
}

.btn-primary:hover {
    background-color: white;
    color: #FF4676;
    transition: all 0.2s ease-in;
}

/*APPROCHE*/

.concept {
    margin-top: 2rem;
    text-align: center;
}

.approche__wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

.approche__wrapper .text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.approche__wrapper li {
    list-style-type: "- ";

}

/* METHODE */

.methode {
    text-align: center;
    align-items: center;
}

.methode p {
    padding-bottom: 1rem;
}

.btn-secondary {
    background-color: white;
    color: #FF4676;
    padding: 8px 16px;
    border-radius: 5px;
    border: solid 1px #FF4676;
}

.btn-secondary:hover {
    background-color:#FF4676 ;
    color: white;
    transition: all 0.2s ease-in;
}

/* LES FRAMES */

.frame__wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10rem;
    margin-top: 4rem;

}

.plaisir-potentiels {
    width: 21%;
}

.pouvoir-sens {
    width: 21%;
}

/* DEBUT ACCOMPAGNEMENTS */

.accompagnements {
    margin-top: 4rem;
    text-align: center;
}

.accompagnements h2 {
    margin-bottom: 2rem;
}

.peps__wrapper li {
    list-style: none;
    padding: 1rem;
}

.peps__wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.peps__wrapper .btn-secondary {
    position: absolute;
    transform: translateX(-50%);
}

.peps__wrapper h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px; 
}

.peps__wrapper .talent h3::after {
    background-color: #68D8EE;
}

.peps__wrapper .carriere h3::after {
    background-color: #FFE17A;
}

.peps__wrapper .force h3::after {
    background-color: #DB7CF2;
}

